{% extends 'bravempire/layout.html' %}   
{% load static%} 

{% block title %} Services rendered by BellXBrave Empire {% endblock %}
        
        {% block content %}          
        <!-- Banner Section Start-->
        <section class="banner">
            <div class="container">
                <div class="col-lg-12">
                    <div class="banner-nav">
                        <div class="banner-box">
                            <a href="{% url 'index' %}">Home </a>
                            <a href="{% url 'services' %}">Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Section End-->

        <!-- Services Section Start -->
        <section id="services" class="services">
            <div class="container">
                <header class="section-header">
                    <h3>Services</h3>
                    <p>
                        Bellxbrave stands at the forefront of the financial industry, providing a range of tailored services to empower individuals, businesses, and institutions in achieving their financial aspirations. As a leading investment firm, Bellxbrave excels in leveraging its expertise to deliver personalized solutions that align with clients' unique financial goals
                    </p>
                </header>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <h4><a href="">Laundry services</a></h4>
                            <p>To provide efficient and reliable laundry services, ensuring customer satisfaction through prompt and high-quality cleaning, while incorporating eco-friendly practices to minimize environmental impact.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <h4><a href="">Real Estate</a></h4>
                            <p>To facilitate clients in finding their ideal properties by offering a diverse portfolio of real estate solutions, personalized services, and expert advice, with a commitment to transparency, integrity, and maximizing value for our clients.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="fa fa-female" aria-hidden="true"></i>
                            <h4><a href="">Best Fashion collection</a></h4>
                            <p>To curate a stylish and cohesive fashion collection for couples, blending contemporary trends with timeless designs. Our goal is to provide couples with a diverse range of high-quality, coordinated fashion options that reflect their individual styles while fostering a sense of unity and shared expression.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="fa fa-scissors" aria-hidden="true"></i>
                            <h4><a href="">Unisex Saloon</a></h4>
                            <p>To provide a welcoming and inclusive space where clients can experience top-notch beauty and grooming services. Our goal is to deliver personalized, trend-setting styles while prioritizing client comfort and satisfaction.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="fa fa-building" aria-hidden="true"></i>
                            <h4><a href="">Home Cleaning Services</a></h4>
                            <p>To offer convenient and professional home services that cater to the diverse needs of our clients, ensuring a seamless experience with skilled professionals. Our aim is to bring comfort and quality services to our customers' doorsteps while maintaining the highest standards of safety and hygiene.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="fa fa-plug" aria-hidden="true"></i>
                            <h4><a href="">Get quality Hairs & Hair products</a></h4>
                            <p>To create and offer a premium line of hair care products that cater to diverse hair types and preferences. Our objective is to enhance the beauty and health of hair while promoting sustainability and cruelty-free practices.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="single-service">
                            <i class="fa fa-motorcycle" aria-hidden="true"></i>
                            <h4><a href="">Logistics</a></h4>
                            <p>To streamline the delivery process, providing swift and dependable services to meet the diverse needs of our customers. Our goal is to ensure timely and secure deliveries, leveraging technology and a robust logistics network.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Section End -->

        <!-- Call To Action Start -->
        <section class="call-to-action">
            <div class="container text-center">
                <header class="section-header">
                    <h3>Call to Action</h3>
                    <p>
                        We are avaliable 24/7, whenever you need our services, give us a call, reach us via email, whatsapp  or any other social media platform. 
                    </p>
                </header>
                <a class="cta-btn" href="#">Call To Action</a>
            </div>
        </section>
        <!-- Call To Action End -->

        
        
        <!-- Skills Section Start-->
        <section class="skills">
            <div class="container">
                <header class="section-header">
                    <h3>Our Investment Portfolio</h3>
                    <p>
                        BELLXBRAVE has invested in various industries and domains. Below shows areas of BellXBrave investment as we provide the best services
                    </p>
                </header>

                <div class="skills-content">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Business development <i class="val">100%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Real Estate <i class="val">90%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Transportation <i class="val">80%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Fashion and Design <i class="val">80%</i></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Skills Section End-->

    
        {% endblock content %}
